@(countries: List[Country])

@main("Query") {
    <link rel="stylesheet" href="@routes.Assets.at("lib/horsey/dist/horsey.css")">
    <div>
        <form action="@routes.QueryController.query()">
            <label>Country: <input type="text" name="input"></label>
            <input type="submit" value="Query">
        </form>
        @for(country <- countries) {
            <h2>Airports and runways in @country.name</h2>
            <ul> @for(airport <- country.airports) {
                <li>
                    @airport.name
                    <ul> @for(runway <- airport.runways) {
                        <li>@runway.le_ident</li>
                    } </ul>
                </li>
            } </ul>
        }
    </div>

    <script src="@routes.Assets.at("lib/horsey/dist/horsey.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fuzzyCountries.js")" type="text/javascript"></script>
}
